<nb-card style="width:550px">
  <nb-card-header>新增菜单</nb-card-header>
  <nb-card-body>

    <form [formGroup]="validateForm" nz-form>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="type" nzRequired>分类</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入!">
          <nz-select formControlName="type" id="type" nzPlaceHolder="请选择" style="width: 100%">
            <nz-option [nzValue]="10" nzLabel="菜单"></nz-option>
            <nz-option [nzValue]="20" nzLabel="功能"></nz-option>
          </nz-select>

        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="pid">上级菜单</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入!">
          <nz-cascader
            [nzOptions]="menus"
            [nzLabelProperty]="'name'"
            [nzValueProperty]="'id'"
            nzChangeOnSelect
            formControlName="pid"
            nzPlaceHolder="请选择"
            style="width: 100%"
            id="pid"
            name="pid">
          </nz-cascader>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name">名称</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input formControlName="name" id="name" name="name" nz-input/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="path">地址</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input formControlName="path" id="path" name="path" nz-input/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="icon">图标</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input formControlName="icon" id="icon" name="icon" nz-input/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="authCode">授权码</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input formControlName="authCode" id="authCode" name="authCode" nz-input/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="orderNo">序号</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-input-number
            formControlName="orderNo"
            id="orderNo"
            name="orderNo"
            style="width: 100%"
          ></nz-input-number>
        </nz-form-control>
      </nz-form-item>

    </form>
  </nb-card-body>
  <nb-card-footer>
    <div style="float: right">
      <button (click)="cancel()" class="cancel" nbButton status="danger">取消</button> &nbsp;
      <button (click)="submit()" nbButton status="success">提交</button>
    </div>
  </nb-card-footer>
</nb-card>
