<nb-card style="width:550px">
  <nb-card-header>修改用户</nb-card-header>
  <nb-card-body>

    <form [formGroup]="validateForm" nz-form>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="email">邮箱</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="邮箱格式不正确!">
          <input formControlName="email" id="email" nz-input/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="mobile">手机</nz-form-label>
        <nz-form-control [nzSm]="14" [nzValidateStatus]="validateForm.controls['mobile']" [nzXs]="24">
          <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
            <ng-template #addOnBeforeTemplate>
              <nz-select class="phone-select" formControlName="phoneNumberPrefix">
                <nz-option nzLabel="+86" nzValue="+86"></nz-option>
                <nz-option nzLabel="+87" nzValue="+87"></nz-option>
              </nz-select>
            </ng-template>
            <input formControlName="mobile" id="mobile" nz-input/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="roles">账号角色</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入!">
          <nz-select formControlName="roles" id="roles" nzMode="multiple" nzPlaceHolder="请选择" style="width: 100%">
            <nz-option *ngFor="let role of roles" [nzLabel]="role.name" [nzValue]="role.id"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="status">使用状态</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="请输入!">
          <nz-select formControlName="status" id="status" nzPlaceHolder="请选择" style="width: 100%">
            <nz-option [nzValue]="0" nzLabel="启用"></nz-option>
            <nz-option [nzValue]="1" nzLabel="禁用"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="profile">个人介绍</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <textarea formControlName="profile" id="profile" nz-input rows="4"></textarea>
        </nz-form-control>
      </nz-form-item>

    </form>

  </nb-card-body>
  <nb-card-footer>
    <div style="float: right">
      <button (click)="cancel()" class="cancel" nbButton status="danger">取消</button> &nbsp;
      <button (click)="submit()" nbButton status="success">提交</button>
    </div>
  </nb-card-footer>
</nb-card>
